################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Movies_collection/DesignTimeBuild/.dtbcache.v2
